/dev_data
/dev_data_dataframes
/dev_data_spectrograms
/pretrained_models
/dev_data_spectrograms_server
/dev_data_dataframes_server
/prototypes/src/__pycache__/keras_model_ae.cpython-38.pyc
/prototypes/src/__pycache__/visualizer.cpython-38.pyc
/prototypes/src/models/__pycache__/__init__.cpython-38.pyc
/prototypes/src/models/__pycache__/ast_models.cpython-38.pyc

ASTAE/src/__pycache__/

ASTAE/src/ast_model/__pycache__/

*.pyc



ASTAE/src/trained_models/

prototypes/src/results/autoencoder_extra/lr=5e-06_nbEpochs=1000/AUC_scores_AE_lr=5e-06_nbEpochs=1000.csv
